<?xml version="1.0" encoding="UTF-8"?>
<?NLS TYPE="org.eclipse.help.contexts"?><!--
    Copyright (c) 2008, 2010 SAP AG and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        SAP AG - initial API and implementation
 -->

<contexts>
	<context id="oql">
		<description>对象查询语言（OQL）语法</description>
		<topic label="OQL编辑器" href="tasks/queryingheapobjects.html" />
		<topic label="OQL语法" href="reference/oqlsyntax.html" />
	</context>
	<context id="query_arguments">
		<description>该向导将帮助您向查询添加参数</description>
		<topic label="如何提供堆对象参数"
			href="reference/selectingqueries.html#queryarguments__arguments" />
	</context>
	<context id="acquire_arguments">
		<description>该向导将帮助您从系统上的另一个进程获取和分析堆转储</description>
		<topic label="如何配置获取堆转储提供程序"
			href="tasks/acquiringheapdump.html" />
	</context>
	<context id="icon_assist">
		<description>图标参考</description>
		<topic label="各种图标的含义"
			href="reference/iconassist.html" />
	</context>
</contexts>
