<contexts>
   <context id="TOC">
      <description>这是一个用于编写符合BPMN 2.0标准的流程图的图形编辑器。</description>
      <topic href="html/toc.html" label="BPMN2 Modeler" />
   </context>
   <context id="Property_View">
      <description>这显示了当前所选BPMN2元素的属性。</description>
      <topic href="html/PROPERTY VIEW.htm" label="BPMN2属性视图" />
      <topic href="html/APPENDIX_ BPMN 2.0 REFERENCE.htm" label="BPMN 2.0元素参考" />
   </context>
   <context id="Property_Dialog">
      <description>这将在弹出对话框中显示当前所选BPMN2元素的属性，而不是属性视图。</description>
      <topic href="html/POPUP DIALOGS.htm" label="BPMN2属性对话框" />
      <topic href="html/APPENDIX_ BPMN 2.0 REFERENCE.htm" label="BPMN 2.0元素参考" />
   </context>
   <context id="Outline_View">
      <description>这显示了当前正在编辑的BPMN2流程的概要。</description>
      <topic href="html/OUTLINE VIEW.htm" label="BPMN2大纲视图" />
   </context>
   <context id="User_Preferences">
      <description>BPMN2图编辑器的首选项设置。</description>
      <topic href="html/USER PREFERENCES.htm" label="BPMN2首选项" />
   </context>
   <context id="New_File_Wizard">
      <description>该向导将创建一个新的BPMN 2.0流程图。</description>
      <topic href="html/BPMN2 NEW FILE WIZARDS.htm#_Toc371905856" label="新文件向导" />
      <topic href="html/APPENDIX_ BPMN 2.0 REFERENCE.htm#_Toc371905985" label="BPMN 2.0图表类型" />
   </context>
   <context id="JBPM_New_File_Wizard">
      <description>该向导将创建一个新的jBPM流程图。</description>
      <topic href="html/BPMN2 NEW FILE WIZARDS.htm#_Toc371905857" label="新的jBPM流程向导" />
   </context>
</contexts>